.horizontal-scrolling-cards {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    background: #f7efef;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
  
  .arrow {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .arrow-left {
    left: 0;
  }
  
  .arrow-right {
    right: 0;
  }
  
  .cards-container {
    display: flex;
    /* Adjust width according to the number of cards */
    width: calc(200px * 7); /* Assuming 4 cards, adjust it based on the number of cards */
    transition: transform .4s;
    overflow-x: hidden; /* Use 'auto' or 'scroll' for horizontal overflow */
    overflow-y: hidden;
    background: #f7efef;
    justify-content: space-evenly;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    gap: 50px;
    margin-top: 0px;
    perspective: 2500px;
  }

  
  .card-item {
    background: #f7efef;
    z-index: -100;
    margin: 20px;  /* Added some margin for card separation */
  }

  .card-item p{
    background: #f7efef;
  }

  .card-item img{
    object-fit: cover;
   
  }


  .card-item:hover{
    transform: perspective(10px) translateY(-4%) rotateX(95deg) translate 0);
    -webkit-box-shadow: 19px 35px 32px 18px rgba(55, 9, 242, 0.75);
    -moz-box-shadow: 2px 35px 32px 18px rgba(59, 12, 245, 0.75);
    box-shadow: 0px 35px 32px 18px rgba(45, 6, 236, 0.75);

  }

  .card-item::before,
  .card-item::after {
    content: "";
    opacity: 0;
    width: 100%;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }

  .card-item::before {
    top: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12,13,19,0.5) 68%,
      rgba(12,13,19) 97%
    );
  }

  .card-item::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
  }

  .cardbutton {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgb(50, 120, 205);
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    transition: background-color 0.3s;
}

.cardbutton:hover {
    background-color: gold;
}

.cardbutton button {
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-weight: inherit;
    color: black;
    cursor: inherit;
    text-align: inherit;
}
  