.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-left: 0;
    margin-right: 0;
   }
   
   .header h1 {
    text-align: start;
    margin-bottom: 0;
   }
   
   .header h3 {
    margin-top: 0;
    text-align: justify;
   }