* {
    margin: 0;
    padding: 0;
    background: #f7efef;
}

.product-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px;
    background-color: #f7efef;
    text-decoration: solid;
    text-align: center;
   }

.product-cards h4{
    font-size: xx-large;
    font-weight: bold;
}
   
   .prouct-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f7efef;
   }
   
   .product-card {
    background: #f7efef;
    margin: 20px;
    text-decoration: none;
    flex: 1 16%;
   }

.product-card:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}
   
   .product-card img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border: 14px;
   }

   .product-card p{
    margin-top: auto;
}

@media (max-width: 920px) {
    .product-card {
        flex: 1 21%;
    }
}

@media (max-width: 480px) {
    .prouct-card-container {
        flex: 1 46%;
    }

    .product-card {
      flex: 1 46%;
    }
    .product-cards {
        flex: 1 46%;
    }
  }