.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-top: 10px;
    height: 90vh;
   }
   
   .text-box h1 {
    font-size: 68px;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #0000;
    color: aliceblue;
    box-shadow: 0 0 10px rgba(7, 235, 52, 0.7); /* Initial box shadow */
    animation: glow 1s ease-in-out infinite alternate;
   float: left;
}
   
   .text-box p {
    font-size: 24px;
    background: #0000;
    color: aliceblue;
    animation: glow 1s ease-in-out infinite alternate;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    float: left;
    
   }
   
   .text-box a {
    background-color: #f7efef;
    border: none;
    padding: 10px 20px;
    color: #ffea05;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    float: left;
   }

   .text-box a:hover {
    background-color: #3c467d;
    transform: translate(0px, 10px);
}
   
.text-box img {
  background: #B0DAFF;
  right: 160px;
  float: right;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(207, 9, 237, 0.7); /* Initial state */
    }
    100% {
      box-shadow: 0 0 20px rgb(200, 238, 8), 0 0 30px rgba(233, 5, 5, 0.8); /* Glowing effect */
    }
  }



  .shooting-star {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: black;
    animation: shootingStar 2s linear infinite;
    opacity: 1;
    transform-origin: 50% 100%;
    box-shadow: 0 0 10px 5px #fff, 0 0 20px 10px #fff, 0 0 30px 15px #fff, 0 0 40px 20px #fff;
  }
  
  @keyframes shootingStar {
    0% {
      opacity: 1;
      transform: translateY(0) rotate(45deg);
    }
    100% {
      opacity: 0;
      transform: translateY(-200px) rotate(45deg);
    }
  }
  
.text-box-text button {
  --width: 150px;
  --timing: 2s;
  border: 0;
  width: var(--width);
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background: rgb(64, 192, 87);
  transition: all 0.2s;
  border-radius: 3px;
  
}

.best-seller-content-header {
  display: flexbox;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.5rem;
}

.text-box-text button:hover {
  background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(250, 82, 82) 16.65%, rgb(190, 75, 219) 16.65%, rgb(190, 75, 219) 33.3%,
   rgb(76, 110, 245) 33.3%, rgb(76, 110, 245) 49.95%, rgb(64, 192, 87) 49.95%, rgb(64, 192, 87) 66.6%, rgb(250, 176, 5) 66.6%, rgb(250, 176, 5) 83.25%,
    rgb(253, 126, 20) 83.25%, rgb(253, 126, 20) 100%, rgb(250, 82, 82) 100%);
  animation: var(--timing) linear dance6123 infinite;
  transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}

