/* Add this CSS code to your Navbar.css file */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f7efef;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    z-index: 100;
   }

   nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: #3f51b5;
}


   
.navbar-logo {
    display: flex;
    align-items: center;
   }
   
   .navbar-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
   }
   
   .navbar-logo p {
    margin: 0;
    font-size: 20px;
   }
   
   .nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
   }
   
   
   .nav-login-cart {
    display: flex;
    align-items: center;
   }
   
   .nav-login-cart button {
    border: none;
    padding: 10px 20px;
    color: #3f51b5;
    cursor: pointer;
    font-size: 16px;
   }
   
   .cart-icon {
    position: relative;
    margin-left: 20px;
   }
   
   .shopping-cart-icon {
    color: #3f51b5;
    width: 30px;
    height: 30px;
   }
   
   .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    text-align: center;
   }
   
   .text-box h1 {
    font-size: 48px;
    margin-bottom: 20px;
   }
   
   .text-box p {
    font-size: 24px;
    margin-bottom: 40px;
   }
   
   .text-box a {
    background-color: #5c91f1;
    border: none;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
   }
   
   .user-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
   }
   
   .user-box img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
   }