/* Add this CSS code to your Navbar.css file */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
   .navbar-logo {
    color: burlywood;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: expanded;
    text-decoration: dotted;
   }
   
   .nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
   }
   
   .nav-menu li {
    padding: 0.5rem;
    cursor: pointer;
   }
   
   .nav-menu li a {
    color: #fff;
    text-decoration: none;
   }
   
   .search-bar {
    display: flex;
    margin-left: 2rem;
   }
   
   .search-bar input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 0.5rem;
   }
   
   .search-bar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
   }
   
   .nav-login-cart {
    display: flex;
    align-items: center;
   }
   
   .nav-login-cart button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
   }
   
   .cart-icon {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
   }
   
   .shopping-cart-icon {
    color: #fff;
    width: 24px;
    height: 24px;
   }
   
   .shopping-cart-icon:hover {
    color: #ccc;
   }
   
   hr {
    width: 20px;
    border: none;
    border-top: 2px solid #fff;
    margin: 0;
   }