/* Add this CSS code to your Navbar.css file */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    z-index: 100;
    background-color: #b7f609b5;
   }

   nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: #1233f1;
    cursor: pointer;
}

nav ul li:hover{
    transform: translate(0px, -6px);
}


   
.navbar-logo {
    display: flex;
    align-items: center;
   }
   
   .navbar-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
   }
   
   .navbar-logo p {
    margin: 0;
    font-size: 20px;
   }
   
   .nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
   }
   
   
   .nav-login-cart {
    display: flex;
    align-items: center;
   }
   
   .nav-login-cart button {
    border: none;
    padding: 10px 20px;
    color: #3f51b5;
    cursor: pointer;
    font-size: 16px;
   }

   .shopping-cart-icon:hover{
        transform: translate(0px, -8px);
    }
   
   .cart-icon {
    position: relative;
    margin-left: 20px;
   }
   
   .shopping-cart-icon {
    color: #3f51b5;
    width: 30px;
    height: 30px;
   }
   
   .text-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 0;
    text-align: center;
   }
   
   .text-box h1 {
    font-size: 48px;
    margin-bottom: 20px;
   }
   
   .text-box p {
    font-size: 24px;
    margin-bottom: 40px;
   }
   
   .text-box a {
    background-color: #5c91f1;
    border: none;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
   }

   .text-box a:hover {
    background-color: #1233f1;
    transform: translate(0px, 10px);
}
   
   .user-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
   }
   
   .user-box img {
    width: 400px;
    height: 2600px;
    border-radius: 50%;
   }

.text-box-text button {
  --width: 150px;
  --timing: 2s;
  border: 0;
  width: var(--width);
  padding-block: 1em;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background: rgb(64, 192, 87);
  transition: all 0.2s;
  border-radius: 3px;
}

.text-box-text button:hover {
  background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(250, 82, 82) 16.65%, rgb(190, 75, 219) 16.65%, rgb(190, 75, 219) 33.3%,
   rgb(76, 110, 245) 33.3%, rgb(76, 110, 245) 49.95%, rgb(64, 192, 87) 49.95%, rgb(64, 192, 87) 66.6%, rgb(250, 176, 5) 66.6%, rgb(250, 176, 5) 83.25%,
    rgb(253, 126, 20) 83.25%, rgb(253, 126, 20) 100%, rgb(250, 82, 82) 100%);
  animation: var(--timing) linear dance6123 infinite;
  transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}

